
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    font-size: 10px;
}

body{
    background: #0C122C;
}

.bg-image{
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
}

.container{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: flex-end;
    .first-div{
        width: 50rem;
        height: 30rem;
        background: #1E2C69;
        margin-right: 4rem;
        border-radius: 2rem;
        border-top-right-radius: 15rem;
        .logo{
            img{
                width: 20rem;
                margin: 5rem;
            }
        }
        .files{
            display: flex;

            .files-item{
                width: 8rem;
                height: 8rem;
                background:#0C122C;
                border-radius: 2rem;    
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                img{
                    height: 3rem;  
                }
            }
            .files-item:nth-child(1){
                margin-left: 5rem;
                img{
                    height: 3.5rem;     
                }
            }
        }
    }
    .second-div{
        border-radius: 2rem;
        width: 70rem;
        height: 25rem;
        background: #1E2C69;
        position: relative;
        .tooltip{
            position: absolute;
            right: 5rem;   
            top: -20%;
            width: 20rem;
            height: 8rem;
            display: flex;
            justify-content: center;
            align-items:center;
            background: white;
            font-family: sans-serif;
            color:grey;
            border-radius: 2rem;
            font-weight: 600;
            span{
                font-weight: 900;
                color: #000;
                font-size: 4rem;     
                margin-right: .5rem;           
            }
            .arrow{
                position: absolute;
                bottom:-30%;
                right: 0;
                border: 3rem solid white;
                border-left-color: transparent;
                border-top-color: transparent;
                border-bottom-color: transparent;
            }
        }
        padding: 5rem;
        .text{
            color: white;
            font-size: 2rem;
            font-family: sans-serif;
            font-weight: 100;
            margin-top: 2rem;
        }
        .load-bar{
            width:100%;
            background: #0C122C;
            padding: .5rem;
            height: 3.5rem;
            margin-top: 2rem;
            border-radius: 4rem;
            .loading{
                width:70%;
                height: 100%;
                background: linear-gradient(to right,#ffb3b3,#FF6666);
                border-radius: 4rem;
                padding: .2rem;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                span{
                    display: flex;
                    width: 2rem;
                    height: 2rem;
                    background: white;
                    border-radius: 50%;
                }
            }
        }
        .load-info{
            margin-top: 1rem;
            display: flex;
            justify-content: space-between;
            color: white;
            font-size: 1.6rem;
            font-weight: 900;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
